.advantages {
  position: relative;
  padding: 90px 0 130px 0;
  width: 100%;
  background: $grad_bg;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  @media (max-width: 1400px) {
    padding: 70px 0 70px 0;
  }
  @media (max-width: 1200px) {
    padding: 70px 0 80px 0;
  }
  @media (max-width: 768px) {
    padding: 60px 0;
  }
  &__title {
    position: relative;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    @media (max-width: 1400px) {
      font-size: 32px;
      line-height: 39px;
    }
    @media (max-width: 1200px) {
      font-size: 30px;
      line-height: 37px;
    }
    @media (max-width: 768px) {
      font-size: 26px;
      line-height: 32px;
    }
    @media (max-width: 576px) {
      font-size: 24px;
      line-height: 29px;
    }
  }
  &__hr {
    margin: 27px auto 0;
    background-color: #fff;
    @media (max-width: 768px) {
      margin: 15px auto 0;
      width: 50px;
      height: 5px;
    }
  }
  &__wrapper {
    margin: 50px -15px 0;
    display: flex;
    @media (max-width: 1400px) {
      margin: 40px -10px;
    }
    @media (max-width: 1200px) {
      margin: 40px -10px;
    }
    @media (max-width: 992px) {
      margin: 40px auto 0;
      flex-direction: column;
    }
  }
  &__item {
    position: relative;
    z-index: 4;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    @media (max-width: 1400px) {
      padding: 25px;
      width: calc(100% / 3 - 20px);
      margin: 0 10px;
    }
    @media (max-width: 992px) {
      margin: 10px auto;
      width: 100%;
    }
    @media (max-width: 768px) {
      max-width: 422px;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
    &-hr {
      width: 44px;
      height: 5px;
    }
  }
  &__number {
    position: absolute;
    top: 25px;
    right: 25px;
    font-weight: 700;
    font-size: 58px;
    text-transform: uppercase;
    color: #FBECE1;
    @media (max-width: 768px) {
      top: 15px;
      right: 15px;
    }
    @media (max-width: 576px) {
      font-size: 50px;
    }
  }
  &__subtitle {
    margin-bottom: 15px;
    width: 213px;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    @media (max-width: 1400px) {
      width: 80%;
      font-size: 16px;
      line-height: 25px;
    }
    @media (max-width: 1200px) {
      margin-bottom: 10px;
      width: 70%;
    }
    @media (max-width: 992px) {
      margin-bottom: 10px;
      width: 100%;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 22px;
    }
    @media (max-width: 576px) {
      width: 75%;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__descr {
    margin-top: 17px;
    font-size: 16px;
    line-height: 25px;
    color: #222222;
    @media (max-width: 1400px) {
      font-size: 16px;
      line-height: 25px;
    }
    @media (max-width: 1200px) {
      margin-top: 14px;
    }
    @media (max-width: 992px) {
      width: 80%;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 22px;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
  }
  &__round {
    position: absolute;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 100%;
    &_top {
      top: -5%;
      left: 33%;
      width: 104px;
      height: 104px;
      @media (max-width: 768px) {
        left: 10%;
      }
    }
    &_bot {
      width: 156px;
      height: 156px;
      bottom: -11%;
      left: 18%;
      @media (max-width: 1400px) {
        left: 7%;
      }
      @media (max-width: 1200px) {
        display: none;
      }
    }
    &_left {
      width: 340px;
      height: 340px;
      top: 10%;
      left: -5%;
      @media (max-width: 1400px) {
        width: 239px;
        height: 239px;
      }
      @media (max-width: 1200px) {
        top: 50%;
      }
    }
    &_right {
      width: 331px;
      height: 331px;
      top: -11%;
      right: -6%;
      @media (max-width: 1400px) {
        width: 249px;
        height: 249px;
      }
      @media (max-width: 1200px) {
        top: 40%;
      }
    }
    &_rightBot {
      width: 163px;
      height: 163px;
      bottom: -10%;
      right: 6%;
      @media (max-width: 1400px) {
        right: 14%;
      }
      @media (max-width: 1200px) {
        bottom: -2%;
        right: -1%;
      }
    }
  }
  &__peach {
    &-left {
      display: inline-block;
      position: absolute;
      z-index: 2;
      top: -50%;
      left: 11%;
      @media (max-width: 1400px) {
        width: 89px;
        height: 81px;
        top: -65%;
        left: 47px;
      }
      @media (max-width: 1200px) {
        top: 82%;
        left: 17px;
      }
      @media (max-width: 768px) {
        width: 60px;
        height: 61px;
        top: 76%;
        left: 9%;
      }
    }
    &-right {
      display: inline-block;
      position: absolute;
      z-index: 2;
      bottom: 68%;
      right: 1%;
      @media (max-width: 1200px) {
        bottom: 1%;
        right: 15%;
      }
      @media (max-width: 992px) {
        width: 85px;
        height: 85px;
      }
      @media (max-width: 768px) {
        right: 4%;
        bottom: -1%;
      }
    }
  }
  &__leaf {
    &-left {
      display: inline-block;
      position: absolute;
      z-index: 2;
      bottom: 88%;
      left: 2%;
      @media (max-width: 1400px) {
        left: 0;
      }
      @media (max-width: 1200px) {
        width: 70px;
        height: 70px;
        bottom: 85%;
        left: 7%;
      }
      @media (max-width: 768px) {
        width: 65px;
        height: 65px;
        left: 5%;
        bottom: 81%;
      }
    }
    &-right {
      display: inline-block;
      position: absolute;
      z-index: 2;
      top: -50%;
      right: 12%;
      @media (max-width: 1400px) {
        width: 79px;
        height: 80px;
        top: -35%;
      }
      @media (max-width: 1200px) {
        top: 16%;
        right: 1%;
      }
      @media (max-width: 768px) {
        width: 72px;
        height: 71px;
        top: 30%;
        right: 36px;
      }
    }
  }
}