.faq {
  position: relative;
  padding: 32px 0 50px 0;
  z-index: 1;
  width: 100%;
  background-color: #FFF4EC;
  font-family: 'Open Sans', sans-serif;
  &__title {
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 576px) {
      font-size: 24px;
      line-height: 29px;
    }
  }
  &__hr {
    margin: 27px auto 0;
    @media (max-width: 576px) {
      width: 50px;
      height: 5px;
      margin: 15px auto 0;

    }
  }
  &__wrapper {
    margin: 35px -15px 0;
    display: flex;
    flex-flow: wrap row;
    align-items: flex-start;
    @media (max-width: 992px) {
      flex-direction: column;
      margin: 35px 0 0;
    }
    &-col {
      display: flex;
      flex-direction: column;
      width: calc(100% / 2 - 30px);
      margin: 15px 15px;
      @media (max-width: 992px) {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  &__alignLeft {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
    overflow: hidden;
    @media (max-width: 768px) {
      margin: 10px auto;
      max-width: 422px;
    }
  }
  &__header {
    padding: 20px 30px 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      .faq__round_last {
        background: rgba(240, 90, 34, 0.05);
      }
    }
  }
  &__footer {
    position: relative;
    padding: 0 30px;
    margin: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    height: 0;
    transition: height .5s, padding .5s, margin .5s;
    @media (max-width: 576px) {
      padding: 0 15px;
      text-align: justify;
    }
    &:before {
      position: absolute;
      top: -10px;
      left: 26px;
      display: block;
      content: "";
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 10px solid #FFF;
      opacity: 0;
      transition: opacity .5s;
    }
    &_active {
      margin-top: 25px;
      padding: 25px 30px;
      height: 290px;
      @media (max-width: 1400px) {
        height: 340px;
      }
      @media (max-width: 992px) {
        height: 290px;
      }
      @media (max-width: 768px) {
        height: 360px;
      }
      @media (max-width: 576px) {
        margin-top: 15px;
        padding: 15px 15px;
      }
      &:before {
        opacity: 1;
      }
    }
  }
  &__round {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    border-radius: 100%;
    text-transform: uppercase;
    &_first {
      background: #F75539;
      color: #fff;
      //margin-right: 16px;
      font-size: 24px;
      font-weight: bold;
    }
    &_last {
      font-size: 40px;
      color: #F47A2B;
      background-color: #fff;
      transition: background-color .3s;
      .plus {
        display: inline;
        opacity: 1;
        transition: opacity .5s;
      }
      .hypen {
        position: absolute;
        display: inline;
        opacity: 0;
        transition: opacity .5s;
      }
      &_active {
        .plus {
          opacity: 0;
        }
        .hypen {
          opacity: 1;
        }
      }
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #222222;
    margin-left: 15px;
    @media (max-width: 992px) {
      font-size: 16px;
      line-height: 22px;
    }
    @media (max-width: 768px) {
      max-width: 260px;
    }
    @media (max-width: 576px) {
      max-width: 165px;
      font-size: 14px;
      line-height: 19px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    color: #222222;
    height: 100%;
    @media (max-width: 992px) {
      font-size: 16px;
      line-height: 26px;
    }
    @media (max-width: 576px) {
      font-size: 14px;
      line-height: 23px;
    }
  }
  &__images {
    display: flex;
    margin: 60px -15px 0;
    @media (max-width: 992px) {
      margin: 50px 0;
      flex-flow: nowrap column;
      align-items: center;
    }
  }
  &__img {
    margin: 0 15px;
    width: calc(100% / 2 - 30px);
    @media (max-width: 992px) {
      margin: 10px 0;
      width: 100%;
    }
    &_mango {
      padding: 40px 57px;
      display: block;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: 768px) {
        max-width: 422px;
      }
      @media (max-width: 576px) {
        padding: 40px 30px;
      }
    }
    &_cash {
      padding: 37px 50px;
      display: block;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: 768px) {
        max-width: 422px;
        padding: 20px 50px
      }
      @media (max-width: 576px) {
        padding: 25px 30px;
      }
    }
    &-titleMango {
      font-family: "Montserrat",sans-serif;
      font-weight: 800;
      font-size: 40px;
      line-height: 49px;
      text-transform: uppercase;
      color: #FFFFFF;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 49px;
      }
    }
    &-titleCash {
      font-family: "Montserrat",sans-serif;
      font-weight: 800;
      font-size: 28px;
      line-height: 34px;
      text-transform: uppercase;
      color: #FFFFFF;
      @media (max-width: 768px) {
        font-size: 26px;
        line-height: 32px;
      }
      @media (max-width: 576px) {
        font-size: 22px;
        line-height: 27px;
      }
    }
    &-subtitleMango {
      font-size: 18px;
      line-height: 28px;
      color: #FFFFFF;
      max-width: 302px;
      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 28px;
      }
      @media (max-width: 576px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
    &-subtitleCash {
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 25px;
      }
      @media (max-width: 576px) {
        font-size: 14px;
        line-height: 19px;
      }
    }
    &-btn {
      margin-top: 19px;
      @media (max-width: 768px) {
        padding: 15px 25px;
        font-size: 12px;
      }
    }
  }
  &__spotLeft {
    position: absolute;
    top: 10%;
    left: 0;
    @media (max-width: 1600px) {
      display: none;
    }
  }
  &__spotRight {
    position: absolute;
    bottom: 35%;
    right: 0;
    @media (max-width: 1600px) {
      display: none;
    }
  }
  &__triangleLeftTop {
    position: absolute;
    top: 17%;
    left: -17px;
    @media (max-width: 1600px) {
      display: none;
    }
  }
  &__triangleLeftBot {
    position: absolute;
    top: 23%;
    left: 5%;
    @media (max-width: 1600px) {
      display: none;
    }
  }
  &__triangleRightBot {
    position: absolute;
    bottom: 43%;
    right: 1%;
    @media (max-width: 1600px) {
      display: none;
    }
  }
  &__triangleRightTop {
    position: absolute;
    bottom: 58%;
    right: 7%;
    transform: rotate(-90deg);
    @media (max-width: 1600px) {
      display: none;
    }
  }
}