.main {
  &__hamburger {
    position: absolute;
    z-index: 6;
    top: 25px;
    left: 25px;
    display: none;
    flex-direction: column;
    width: 42px;
    height: 36px;
    cursor: pointer;
    @media (max-width: 992px) {
      display: flex;
    }
    @media (max-width: 576px) {
      width: 36px;
    }
    &-hr {
      width: 42px;
      margin-bottom: 7px;
      height: 4px;
      background-color: #fff;
      display: block;
      @media (max-width: 576px) {
        width: 36px;
      }
    }
  }
}

