.payments {
  position: relative;
  padding: 88px 0 100px;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 50px 0;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    @media (max-width: 1400px) {
      font-size: 32px;
      line-height: 44px;
    }
    @media (max-width: 992px) {
      max-width: 352px;
      font-size: 30px;
      line-height: 42px;
    }
    @media (max-width: 768px) {
      font-size: 26px;
      line-height: 36px;
      max-width: 422px;
      text-align: center;
    }
    @media (max-width: 576px) {
      margin: 0 auto;
      max-width: 270px;
      font-size: 24px;
      line-height: 34px;
    }
  }
  &__descr {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 36px;
    @media (max-width: 1400px) {
      font-size: 22px;
      line-height: 32px;
    }
    @media (max-width: 992px) {
      font-size: 18px;
      line-height: 27px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }
  &__hr {
    margin-top: 25px;
    @media (max-width: 992px) {
      margin-top: 20px;
    }
    @media (max-width: 768px) {
      height: 5px;
      width: 50px;
      margin: 15px auto 0;
    }
  }
  &__img {
    width: 292px;
    height: 192px;
    @media (max-width: 768px) {
      margin-top: 30px;
      width: 200px;
      height: 122px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__wrapper {
    margin: 35px -15px 0;
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
    @media (max-width: 992px) {
      justify-content: center;
    }
    @media (max-width: 768px) {
      margin: 35px auto 0;
      max-width: 420px;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #FFF4EC;
    width: calc(100% / 5 - 30px);
    margin: 15px 15px;
    padding: 2% 0;
    border-radius: 10px;
    transition: background-color .3s;
    &:hover {
      background-color: #FFF4EC;
    }
    @media (max-width: 992px) {
      width: calc(100% / 4 - 20px);
      margin: 10px 10px;
      min-height: 135px;
    }
    @media (max-width: 768px) {
      padding: 1% 0;
      width: calc(100% / 3 - 10px);
      margin: 5px 5px;
      min-height: 110px;
    }
    @media (max-width: 768px) {
      padding: 1% 0;
      width: calc(100% / 2 - 20px);
      margin: 10px 10px;
    }
    &-img {
      @media (max-width: 1400px) {
        width: 80%;
        height: 50%;
      }
      @media (max-width: 992px) {
        width: 67%;
        height: 50%;
      }
      @media (max-width: 768px) {
        height: 50%;
      }
    }
  }
  &__btn {
    margin: 50px auto 0;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 992px) {
      font-size: 14px;
    }
    @media (max-width: 768px) {
      padding: 15px 25px;
      margin-top: 40px;
    }
  }
  &__shapes {
    &-wrap {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
      @media (max-width: 576px) {
        display: none;
      }
    }
    &-leftTop {
      position: absolute;
      top: 17%;
      left: 11%;
      display: inline-block;
      @media (min-width: 768px) {
        display: none;
      }
      @media (max-width: 576px) {
        display: none;
      }
    }
    &-leftBot {
      position: absolute;
      left: -1%;
      top: 44%;
      display: inline-block;
      @media (min-width: 768px) {
        display: none;
      }
      @media (max-width: 576px) {
        display: none;
      }
    }
    &-rightTop {
      position: absolute;
      right: -1%;
      top: 60%;
      display: inline-block;
      @media (min-width: 768px) {
        display: none;
      }
      @media (max-width: 576px) {
        display: none;
      }
    }
    &-rightBot {
      position: absolute;
      right: 12%;
      top: 85%;
      display: inline-block;
      @media (min-width: 768px) {
        display: none;
      }
      @media (max-width: 576px) {
        display: none;
      }
    }
  }
}