.main {
  position: relative;
  padding: 15px 40px 40px 30px;
  width: 100%;
  height: 700px;
  background-size: cover;
  background: $grad_bg no-repeat center center;
  font-family: 'Open Sans', monospace;
  overflow: hidden;
  @media (max-width: 900px) {
    height: 642px;
  }
  @media (max-width: 720px) {
    height: 500px;
  }

  &__header {
    position: relative;
    z-index: 4;
    display: flex;
    max-width: 100%;
    height: 65px;
    justify-content: flex-start;
    @media (max-width: 900px) {
      justify-content: center;
    }

    &-logo {
      width: 61px;
      height: 50px;
      margin-right: 28px;
      @media (max-width: 480px) {
        display: none;
      }
    }
    &-nav {
      @media (max-width: 900px) {
        display: none;
      }
    }
    &-list {
      display: flex;
      align-items: center;
      padding: 0;
      li {
        list-style: none;
        margin-right: 30px;
        &:hover {
          .main__header-item {
            text-shadow: 0 0 .85px #fff, 0 0 .85px #fff;
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
    &-item {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      &:after {
        position: absolute;
        bottom: -10px;
        display: block;
        content: '';
        height: 2px;
        width: 100%;
        border-radius: 4px;
        transition: opacity .2s;
        background-color: #fff;
        opacity: 0;
      }
    }
  }
  &__btn-login {
    position: absolute;
    z-index: 4;
    top: 20px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    border-radius: 30px;
    background-color: #fff;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color .2s, color .2s;
    &:hover {
      background-color: $hover;
      color: #fff;
    }
  }
  &__info {
    position: relative;
    z-index: 4;
    display: flex;
    margin-top: 129px;
    font-family: 'Montserrat', serif;
    @media (max-width: 720px) {
      justify-content: center;
      text-align: center;
      margin-top: 38px;
    }
  }
  &__text {
    width: 400px;
  }
  &__circle {
    position: relative;
    left: 19%;
    width: 606px;
    height: 606px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    background: rgba(239, 239, 250, 0.15);
    box-shadow: 0 0 rgba(239, 239, 250, 0.06),
    0 0 0 50px rgba(239, 239, 250, 0.06),
    0 0 0 100px rgba(239, 239, 250, 0.06);
    animation: biGwave 1s linear infinite;
    @media (max-width: 1400px) {
      width: 526px;
      height: 526px;
      transform: translateY(20%) translateX(-10%);
    }
    @media (max-width: 1200px) {
      width: 530.25px;
      height: 518.25px;
      transform: translateY(22%) translateX(4%);
    }
    @media (max-width: 900px) {
      transform: translateY(19%) translateX(-5%);
    }
    @media (max-width: 720px) {
      width: 0;
      height: 0;
      box-shadow: none;
      animation: none;
    }
  }
  &__man {
    position: absolute;
    bottom: 115px;
    right: 70px;
    width: 670px;
    height: 592px;
    @media (max-width: 1400px) {
      width: 586.25px;
      height: 518px;
      bottom: 140px;
    }
    @media (max-width: 900px) {
      width: 586.25px;
      height: 518px;
      bottom: 140px;
      right: -25px;
    }
    @media (max-width: 720px) {
      display: none;
    }
  }
  &__peach-top {
    position: absolute;
    top: -55px;
    left: -95px;
    @media (max-width: 1400px) {
      width: 87px;
      height: 89px;
    }
    @media (max-width: 900px) {
      left: -78px;
      width: 72px;
      height: 71px;
    }
    @media (max-width: 720px) {
      display: block;
      width: 62px;
      height: 61px;
      left: -55px;
      top: 8px;
    }

  }
  &__subtitle {
    font-weight: 800;
    font-size: 34px;
    text-transform: uppercase;
    color: #fff;
    @media (max-width: 1200px) {
      font-size: 28px;
    }
    @media (max-width: 720px) {
      font-size: 24px;
    }
    @media (max-width: 480px) {
      font-size: 20px;
    }
  }
  &__title {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 86px;
    color: #fff;
    line-height: 81px;
    @media (max-width: 1200px) {
      font-size: 70px;
    }
    @media (max-width: 720px) {
      font-size: 60px;
    }
    @media (max-width: 480px) {
      font-size: 50px;
    }
  }
  &__descr {
    margin-top: 5px;
    font-family: 'Open Sans', serif;
    width: 291px;
    max-width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #fff;
    @media (max-width: 720px) {
      margin: 0 auto;
    }
    @media (max-width: 480px) {
      font-size: 16px;
      width: 270px;
    }
  }
  &__walletBtn {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 16px;
    background: $grad_btn;
    @media (max-width: 900px) {
      width: 220px;
      height: 50px;
    }
    @media (max-width: 720px) {
      margin: 68px auto 0;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    &:before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      content: 'создать кошелёк';
      width: 100%;
      height: 100%;
      background: $hover;
      opacity: 0;
      transition: opacity .2s;
    }
  }
  &__call {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 62px;
    height: 62px;
    background-color: #7DC81C;
    cursor: pointer;
    box-shadow: 0 0 rgba(147, 207, 70, 0.4),
    0 0 0 10px rgba(147, 207, 70, 0.4);
    animation: wave 1s linear infinite;
    transition: transform .2s;
    @media (max-width: 1200px) {
      width: 50px;
      height: 49px;
      bottom: 30px;
      right: 30px;
    }
    &:hover {
      transform: scale(1.1);
    }
    &-icon {
      width: 27px;
      height: 27px;
      @media (max-width: 1200px) {
        width: 22px;
        height: 22px;
      }
    }
  }
  &__ellipse-right {
    position: absolute;
    width: 292px;
    height: 292px;
    right: -116px;
    top: 143px;
    background: rgba(239, 239, 250, 0.07);
    border-radius: 100%;
    @media (max-width: 1400px) {
      display: none;
    }
    @media (max-width: 720px) {
      display: block;
      width: 162px;
      height: 158px;
      right: -98px;
    }
  }
  &__ellipse-left {
    position: absolute;
    display: none;
    width: 162px;
    height: 158px;
    left: 5%;
    top: 75%;
    background: rgba(239, 239, 250, 0.07);
    border-radius: 100%;
    @media (max-width: 720px) {
      display: block;
    }
  }
  &__ellipse-top {
    position: absolute;
    width: 218px;
    height: 218px;
    right: 57%;
    top: -54px;
    background: rgba(239, 239, 250, 0.07);
    border-radius: 100%;
    @media (max-width: 900px) {
      width: 163px;
      height: 158px;
    }
  }
  &__spot {
    position: absolute;
    width: 313px;
    height: 243px;
    right: 73%;
    bottom: 48%;
    @media (max-width: 900px) {
      bottom: 38%;
    }
    @media (max-width: 720px) {
      display: none;
    }
  }
  &__parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  &__peach {
    &-left {
      position: absolute;
      display: inline-block;
      right: 88%;
      bottom: 14%;
      @media (max-width: 720px) {
        width: 90px;
        height: 89px;
        right: 70%;
        bottom: 21%;
      }
    }
    &-right {
      position: absolute;
      display: inline-block;
      z-index: 4;
      bottom: 38%;
      right: 3%;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
  &__leaf {
    &-focus {
      position: absolute;
      display: inline-block;
      right: 85%;
      bottom: 58%;
      @media (max-width: 1400px) {
        bottom: 69%;
      }
      @media (max-width: 1200px) {
        width: 76px;
        height: 79px;
        bottom: 68%;
      }
      @media (max-width: 720px) {
        bottom: 60%;
        right: 82%;
      }

    }
    &-top {
      position: absolute;
      display: inline-block;
      right: 65%;
      bottom: 79%;
      @media (max-width: 1200px) {
        display: none;
      }
    }
    &-bottom {
      position: absolute;
      display: inline-block;
      bottom: 4%;
      right: 62%;
      @media (max-width: 720px) {
        display: none;
      }

    }
    &-right {
      position: absolute;
      display: inline-block;
      z-index: 04;
      bottom: 70%;
      right: 10%;
      @media (max-width: 1200px) {
        bottom: 77%;
        right: 30%;
      }
      @media (max-width: 720px) {
        bottom: 22%;
        right: 11%;
      }
    }
  }
}


@keyframes wave {
  100% {
    box-shadow: 0 0 0 10px rgba(147, 207, 70, 0.4),
                0 0 0 10px rgba(147, 207, 70, 0);
  }
}
@keyframes biGwave {
  100% {
    box-shadow: 0 0 0 50px rgba(239, 239, 250, 0.06),
                0 0 0 100px rgba(239, 239, 250, 0.06),
                0 0 0 150px rgba(239, 239, 250, 0);
  }
}
