<section class="advantages">
   <div class="container">
      <h2 class="advantages__title">преимущества</h2>
      <div class="advantages__hr hr"></div>
      
      <div class="advantages__wrapper">
         <div class="advantages__item">
            <div class="advantages__number">01</div>
            <h3 class="advantages__subtitle">
               Случайные бонусы
               при переводе от ...
            </h3>
            <div class="advantages__item-hr hr"></div>
            
            <div class="advantages__descr">
               Получите случайный бонус к каждому переводу: прибавка к сумме, сниженный % комиссии и другие приятные подарки.
            </div>
         </div>
         <div class="advantages__item">
            <div class="advantages__number">02</div>
            <h3 class="advantages__subtitle">
               Онлайн кошелек
               с функцией банка
            </h3>
            <div class="advantages__item-hr hr"></div>
      
            <div class="advantages__descr">
               Вы можете не только перевести и получить деньги, оформить карту для безопасного пользования системой, но и вкладывать  …руб под …% годовых.
            </div>
         </div>
         <div class="advantages__item">
            <div class="advantages__number">03</div>
            <h3 class="advantages__subtitle advantages__subtitle_small">
               Обмен валют на особых условиях
            </h3>
            <div class="advantages__item-hr hr"></div>
      
            <div class="advantages__descr">
               Обменивайте доллары, рубли и гривны по курсу, превышающему банковский.
            </div>
         </div>
      </div>
      
      <div class="advantages__parallax">
         <img data-speedMove="7" src="img\primary\peach.png" alt="peach" class="advantages__parallax-img advantages__peach-left">
         <img data-speedMove="3" src="img\primary\peach_blur_left.png" alt="peach" class="advantages__parallax-img advantages__peach-right">
         <img data-speedMove="3" src="img\primary\leaf_bottom.png" alt="leaf" class="advantages__parallax-img advantages__leaf-left">
         <img data-speedMove="5" src="img\primary\leaf_focus.png" alt="leaf" class="advantages__parallax-img advantages__leaf-right">
      </div>
   
      <div class="advantages__round advantages__round_top"></div>
      <div class="advantages__round advantages__round_bot"></div>
      <div class="advantages__round advantages__round_left"></div>
      <div class="advantages__round advantages__round_right"></div>
      <div class="advantages__round advantages__round_rightBot"></div>
      
   </div>
</section>