<section class="faq">
   <div class="container">
      <h2 class="faq__title">faq</h2>
      <div class="faq__hr hr"></div>
      
      <div class="faq__wrapper">
         
         <div class="faq__wrapper-col">
            <div class="faq__item">
               <div class="faq__header">
                  <div class="faq__alignLeft">
                     <div class="faq__round faq__round_first">?</div>
                     <h3 class="faq__subtitle">
                        Как я могу осуществить перевод
                        или получить деньги?
                     </h3>
                  </div>
                  <div class="faq__round faq__round_last">
                     <span class="plus">+</span>
                     <span class="hypen">&minus;</span>
                  </div>
               </div>
               
               <div class="faq__footer ">
                  <div class="faq__text">
                     Кроме стандартных методов шифрования мы отслеживаем современные тенденции, причем не только в сфере
                     защиты информации, но и с обратной стороны – со стороны хакеров. Мы собираем информацию о
                     «популярных» методах взлома аккаунтов и кражи информации и создаем дополнения, которые минимизируют
                     риски неправомерных действий. Кроме того на сайте работает защита от спама и мультиаккаунтов,
                     блокировка по IP, которая учитывает «обходные маневры» VPN.
                  </div>
               </div>
            </div>
            <div class="faq__item">
               <div class="faq__header">
                  <div class="faq__alignLeft">
                     <div class="faq__round faq__round_first">?</div>
                     <h3 class="faq__subtitle">
                        Почему такая низкая комиссия на переводы
                        и обмен валют?
                     </h3>
                  </div>
                  <div class="faq__round faq__round_last">
                     <span class="plus">+</span>
                     <span class="hypen">&minus;</span>
                  </div>
               </div>
               
               <div class="faq__footer ">
                  <div class="faq__text">
                     Кроме стандартных методов шифрования мы отслеживаем современные тенденции, причем не только в сфере
                     защиты информации, но и с обратной стороны – со стороны хакеров. Мы собираем информацию о
                     «популярных» методах взлома аккаунтов и кражи информации и создаем дополнения, которые минимизируют
                     риски неправомерных действий. Кроме того на сайте работает защита от спама и мультиаккаунтов,
                     блокировка по IP, которая учитывает «обходные маневры» VPN.
                  </div>
               </div>
            </div>
            <div class="faq__item">
               <div class="faq__header">
                  <div class="faq__alignLeft">
                     <div class="faq__round faq__round_first">?</div>
                     <h3 class="faq__subtitle">
                        Как вы защищаете персональные данные?
                     </h3>
                  </div>
                  <div class="faq__round faq__round_last">
                     <span class="plus">+</span>
                     <span class="hypen">&minus;</span>
                  </div>
               </div>
               
               <div class="faq__footer ">
                  <div class="faq__text">
                     Кроме стандартных методов шифрования мы отслеживаем современные тенденции, причем не только в сфере
                     защиты информации, но и с обратной стороны – со стороны хакеров. Мы собираем информацию о
                     «популярных» методах взлома аккаунтов и кражи информации и создаем дополнения, которые минимизируют
                     риски неправомерных действий. Кроме того на сайте работает защита от спама и мультиаккаунтов,
                     блокировка по IP, которая учитывает «обходные маневры» VPN.
                  </div>
               </div>
            </div>
         </div>
         <div class="faq__wrapper-col">
            <div class="faq__item">
               <div class="faq__header">
                  <div class="faq__alignLeft">
                     <div class="faq__round faq__round_first">?</div>
                     <h3 class="faq__subtitle">
                        Что означает «случайные бонусы»?
                     </h3>
                  </div>
                  <div class="faq__round faq__round_last">
                     <span class="plus">+</span>
                     <span class="hypen">&minus;</span>
                  </div>
               </div>
               
               <div class="faq__footer ">
                  <div class="faq__text">
                     Кроме стандартных методов шифрования мы отслеживаем современные тенденции, причем не только в сфере
                     защиты информации, но и с обратной стороны – со стороны хакеров. Мы собираем информацию о
                     «популярных» методах взлома аккаунтов и кражи информации и создаем дополнения, которые минимизируют
                     риски неправомерных действий. Кроме того на сайте работает защита от спама и мультиаккаунтов,
                     блокировка по IP, которая учитывает «обходные маневры» VPN.
                  </div>
               </div>
            </div>
            <div class="faq__item">
               <div class="faq__header">
                  <div class="faq__alignLeft">
                     <div class="faq__round faq__round_first">?</div>
                     <h3 class="faq__subtitle">
                        Как я могу осуществить перевод
                        или получить деньги?
                     </h3>
                  </div>
                  <div class="faq__round faq__round_last">
                     <span class="plus">+</span>
                     <span class="hypen">&minus;</span>
                  </div>
               </div>
               
               <div class="faq__footer ">
                  <div class="faq__text">
                     Кроме стандартных методов шифрования мы отслеживаем современные тенденции, причем не только в сфере
                     защиты информации, но и с обратной стороны – со стороны хакеров. Мы собираем информацию о
                     «популярных» методах взлома аккаунтов и кражи информации и создаем дополнения, которые минимизируют
                     риски неправомерных действий. Кроме того на сайте работает защита от спама и мультиаккаунтов,
                     блокировка по IP, которая учитывает «обходные маневры» VPN.
                  </div>
               </div>
            </div>
            <div class="faq__item">
               <div class="faq__header">
                  <div class="faq__alignLeft">
                     <div class="faq__round faq__round_first">?</div>
                     <h3 class="faq__subtitle">
                        Как быстро отвечают специалисты вашего колл центра?
                     </h3>
                  </div>
                  <div class="faq__round faq__round_last">
                     <span class="plus">+</span>
                     <span class="hypen">&minus;</span>
                  </div>
               </div>
               
               <div class="faq__footer ">
                  <div class="faq__text">
                     Кроме стандартных методов шифрования мы отслеживаем современные тенденции, причем не только в сфере
                     защиты информации, но и с обратной стороны – со стороны хакеров. Мы собираем информацию о
                     «популярных» методах взлома аккаунтов и кражи информации и создаем дополнения, которые минимизируют
                     риски неправомерных действий. Кроме того на сайте работает защита от спама и мультиаккаунтов,
                     блокировка по IP, которая учитывает «обходные маневры» VPN.
                  </div>
               </div>
            </div>
         </div>
      
      </div>
      
      <div class="faq__images">
         <div class="faq__img faq__img_mango" style="background-image: url('img/faq/fruits.png'), linear-gradient(93.34deg, #EDAD57 0%, #FE1725 104.89%);;">
            <h4 class="faq__img-titleMango">
               манго
            </h4>
            <div class="faq__img-subtitleMango">
               вкусные финансовые продукты для вас и вашего бизнеса.
            </div>
         </div>
         <div class="faq__img faq__img_cash" style="background-image: url('img/faq/cash.png');">
            <h4 class="faq__img-titleCash">
               регистрируйтесь
            </h4>
            <div class="faq__img-subtitleCash">
               и получите свою максимальную выгоду.
            </div>
   
            <a href="#" class="faq__img-btn wallet">создать кошелек</a>
         </div>
      </div>
   
      <img src="img\faq\spot_1.png" alt="spot" class="faq__spotRight">
      <img src="img\faq\spot_2.png" alt="spot" class="faq__spotLeft">
      <img src="img\payment\leftBot.png" alt="slices of mango" class="faq__triangleLeftTop">
      <img src="img\payment\leftTop.png" alt="slices of mango" class="faq__triangleLeftBot">
      <img src="img\payment\rightBot.png" alt="slices of mango"class="faq__triangleRightTop">
      <img src="img\payment\rightTop.png" alt="slices of mango" class="faq__triangleRightBot">
   
   </div>
</section>