<div class="overlay">
   
   <div class="consultation">
      <div class="consultation__close"></div>
         <div class="consultation__logo">
            <img src="img/logo_white.png" alt="logo" class="consultation__logo-img">
         </div>
         <div class="consultation__ellipseRight"></div>
         <div class="consultation__ellipseLeft"></div>
         <div class="consultation__ellipseBot"></div>
      <form id="form" class="consultation__form" action="#">
         <input class="consultation__input" name="name" autocomplete="off" placeholder="Ваше имя" type="text">
         <input class="consultation__input" name="phone" autocomplete="off" placeholder="+380_________________" type="number">
      
         <button class="consultation__btn">оставить заявку</button>
      </form>
   </div>
   
   
   <div class="modal__wrap">
   
      <div class="modal-close">&times;</div>
      <div class="modal" id="thanks">
         <div class="modal-subtitle">Спасибо за вашу заявку!</div>
         <div class="modal-descr">Наш менеджер свяжется с вами
            в ближайшее время!
         </div>
         
         <div class="modal-ellipseRight"></div>
         <div class="modal-ellipseLeft"></div>
         <div class="modal-ellipseBot"></div>
      
      </div>
   </div>
   
</div>