<section class="payments">
   <div class="container">
      <div class="payments__head">
         <div>
            <h2 class="payments__title">
               Получите доступ к вводу <br>
               и выводу денег
            </h2>
            <div class="payments__descr">
               на различные платежные системы, <br>
               банковские карты и банки
            </div>
            <div class="hr payments__hr"></div>
         </div>
         <div class="payments__img">
            <img src="img/payment/country_count.png" alt="number of countries">
         </div>
      </div>
      
      <div class="payments__wrapper">
         <a href="#" class="payments__item">
            <img src="img\payment\system\mc.png" alt="mastercard" class="payments__item-img">
         </a>
         <a href="#" class="payments__item">
            <img src="img\payment\system\visa.png" alt="visa" class="payments__item-img">
         </a>
         <a href="#" class="payments__item">
            <img src="img\payment\system\qiwi.png" alt="qiwi" class="payments__item-img">
         </a>
         <a href="#" class="payments__item">
            <img src="img\payment\system\swift.png" alt="swift" class="payments__item-img">
         </a>
         <a href="#" class="payments__item">
            <img src="img\payment\system\yandex.png" alt="yandex money" class="payments__item-img">
         </a>
         <a href="#" class="payments__item">
            <img src="img\payment\system\webm.png" alt="web money" class="payments__item-img">
         </a>
         <a href="#" class="payments__item">
            <img src="img\payment\system\paypal.png" alt="paypal" class="payments__item-img">
         </a>
         <a href="#" class="payments__item">
            <img src="img\payment\system\advCash.png" alt="adv cash" class="payments__item-img">
         </a>
         <a href="#" class="payments__item">
            <img src="img\payment\system\skrill.png" alt="skrill" class="payments__item-img">
         </a>
         <a href="#" class="payments__item">
            <img src="img\payment\system\walletOne.png" alt="wallet one" class="payments__item-img">
         </a>
   

      </div>
      
      <div class="payments__btn wallet">создать кошелёк</div>
   
      <img data-speedMove="4" src="img\payment\leftTop.png" alt="triangle shape" class="payments__shapes-leftTop">
      <img data-speedMove="2" src="img\payment\leftBot.png" alt="triangle shape" class="payments__shapes-leftBot">
      <img data-speedMove="4" src="img\payment\rightTop.png" alt="triangle shape" class="payments__shapes-rightTop">
      <img data-speedMove="2" src="img\payment\rightBot.png" alt="triangle shape" class="payments__shapes-rightBot">
      
   </div>
</section>