<section class="main">
   <header class="main__header">
      
      <div class="main__header-wrap">
         <div class="main__header-logo">
            <img src="img/primary/logo.svg" alt="logo">
         </div>
   
         <nav class="main__header-nav">
            <ul class="main__header-list">
               <li><a href="#" class="main__header-item">О компании</a></li>
               <li><a href="#" class="main__header-item">Решения</a></li>
               <li><a href="#" class="main__header-item">Тарифы</a></li>
               <li><a href="#" class="main__header-item">Карта</a></li>
               <li><a href="#" class="main__header-item">FAQ</a></li>
               <li><a href="#" class="main__header-item">Контакты</a></li>
            </ul>
         </nav>
      </div>
      
      <a class="main__header-btn">Войти</a>
   </header>
</section>