@import "http://fonts.fontstorage.com/import/opensans.css";
@import "variables";

/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/

*{
  font-family: 'Open Sans', monospace;
  box-sizing: border-box;
};

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px 0 10px;

  @media (max-width: 1599.98px) {
    width: 1200px;
  }

  @media (max-width: 1199.98px) {
    width: 900px;
  }
  @media (max-width: 991.98px) {
    width: 700px;
  }

  @media (max-width: 767.98px) {
    width: 500px;
  }

  @media (max-width: 575.98px) {
    width: 320px;
  }
}

@import "components/primary";

